<div id="<%= dom_id book_current %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Current type:</strong>
    <%= book_current.current_type %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this book current", book_current, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this book current", edit_book_current_path(book_current), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
