<div class="bg-white mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
  <div class="mx-auto max-w-2xl lg:mx-0">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Want to Read</h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">List of Books you want to read</p>
  </div>

  <div class="grid grid-cols-2 gap-4 mt-8 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5 xl:grid-cols-6">
    <% @wantreads.each do |wantread| %>
      <a href="<%= book_path(wantread) %>"> 
        <div class="flex flex-col items-center"> 
          <%= image_tag wantread.cover, size: "50x50", class: "block w-32 mx-auto mb-2" %> 
          <p class="text-sm text-center text-gray-800"><%= wantread.title %></p>
        </div>
      </a>
    <% end %>
  </div>
</div>